<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <nav class="zone blue sticky">
    <ul class="main-nav">
      <li><a href="">About</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Our Team</a></li>
      <li class="push"><a href="">Contact Us</a></li>
    </ul>
  </nav>
  <div class="container zone green">
    <img class="cover" src="./skills-icons/developer-icon.png">
  </div>
  <h2 class="zone blue">Core Skills</h2>
  <div class="zone green grid-wrapper">
    <div class="box zone"><img src="./skills-icons/python-programming-language-icon.png">Python</div>
    <div class="box zone"><img src="./skills-icons/airflow_transparent.png">Airflow</div>
    <div class="box zone"><img src="./skills-icons/aws-icon.png">AWS Cloud</div>
    <div class="box zone"><img src="./skills-icons/azure-icon.png">Azure Cloud</div>
    <div class="box zone"><img src="./skills-icons/sql-server-icon.png">SQL Server</div>
    <div class="box zone"><img src="./skills-icons/postgresql-icon.png">PostgreSQL</div>
    <div class="box zone"><img src="./skills-icons/ubuntu-color-icon.png">Linux</div>
    <div class="box zone"><img src="./skills-icons/docker-icon.png">Docker</div>
    <div class="box zone"><img src="./skills-icons/kubernetes-icon.png">Kubernetes</div>
    <div class="box zone"><img src="./skills-icons/django-logo-icon.png">Django Framework</div>
  </div>
  <footer class="zone green">James Ockhuis Resume</footer>
</body>
</html>